/* font */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
}

#fullBody{
    
    width: 95%;
    margin: auto;
}
/* search Box */

#parentSearchBox{
    display: none;
}




/* Header CSS Starts here */
/* .headSearchBox {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    background-color: #fff;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 3px;
}
.fc_search {
    margin-left: 10px;
}
.logo_head{
    padding: 15px 0 16px 43px;
    margin: 0 auto;
    background-color: #fff !important;
    display: flex;
    justify-content: space-between;
}
#search_box{
    height: 29px;
    text-align: left;
    color: #676767;
    line-height: 30px;
    padding: 0 20px 0 10px;
    border: 1px solid #fff !important;
    border-radius: 5px;
    margin: 2px;
    font-size: 13px;
    width: 315px;
    outline: none;
}
#navbar{
  position: fixed;
  z-index: 1;  
  width: 100%; 
  top: 0px;
}
.search-button {
    color: #ff7043;
    font-size: 16px;
    right: 8px;
    top: 10px;
    cursor: pointer;
}
.fc_login {
    float: right;
    height: 34px;
    width: auto;
    margin-right: 20px;
}
.fc_login >ul >li{
    float: left;
    text-align: center;
    cursor: pointer;
    padding: 0 5px;
    border-right: 1px solid #d4d4d4;
    list-style: none;
}
.fc_login {
    font-family: robotoMB;
    font-size: 14px !important;
    color: #616161;
    line-height: 17px;
    margin-left: 39px;
}
i.fa-solid.fa-cart-shopping {
    font-size: 26px;
}
li.midicon {
    margin-top: -5px;
    border: none !important
}
#cart_c{
    padding-left: 4px;
    font-size: 25px;
    color: #ff7043;
}
.menu-container {
    height: 50px;
    width: 100%;
    background-color: #ffd91c;
    z-index: 10;
    margin-top: -8px;
}
.menu-container > ul {
    display: flex;
    justify-content: space-around;
    padding: 0 27px 0 46px;
    font-family: RobotoMB !important;
}
.menu-container > ul > li {
    float: left;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
     overflow: hidden;
    display: block;
    padding: 15px 8px 15px 8px;
    font-family: roboto;
    font-size: 14px !important;
    color: #424242 !important;
    line-height: 20px;
}
a {
    text-decoration: none;
}
.menu-container > ul > li.carters {
    padding: 0 0 0 8px;
}
.menu-container > ul > li.carters img {
    width: 86px;
}
.menu-container > ul > li > a > span {
    vertical-align: middle !important;
    margin-left: 8px;
    font-size: 18px;
}

.fc_login > ul {
    padding-top: 8px;
    height: 34px;
}
a{
  color: #575757 !important;
}

.M14_42:hover{
  background-color: #fff;
}
#navlink >li :hover{
  
  cursor: pointer;
  color: #424242;
  display: block;
  text-decoration: none;
  z-index: 5px;
}
li.allcat >a , .B14_42 > a {
  text-decoration: none;
}
ul.col-one li > a {
  text-decoration: none;
}
ul li.hactive > a {
  text-decoration: none;
}
.mouse{
  cursor: pointer;
  border: none;
  font-size: 16px;
}
.curser{
  width: 100%;
  margin: auto;
  display: none;
  cursor: pointer;
}
.curser>div{
  margin: auto;
}
.all-category-container {
  background-color: #fff;
    position: absolute;
    width: 240px;
    z-index: 2;
    height: 375%;
}
.all-category-container1 {
  background-color: #fff;
    position: absolute;
    width: 240px;
    z-index: 2;
    left: 237px;
    height: 375%;
}
.all-category-container2{
  background-color: #fff;
  position: absolute;
  width: 240px;
  z-index: 2;
  left: 450px;
  height: 375%;
}
.all-category-container3{
  background-color: #fff;
  position: absolute;
  width: 240px;
  z-index: 2;
  left: 675px;
  height: 375%;
}
.all-category-container4{
  background-color: #fff;
  position: absolute;
  width: 390px;
  z-index: 2;
  left: 900px;
  height: 375%;
}
.optionav .lft{
  width: 220px;
    transition: 0.3s;
}
.optionav > li {
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  display: block;
  padding: 3px 10px 3px 12px;
  background-color: #f5f5f5;
}
.menu-option-contain {
  background-color: #fff;
  width: 268px;
  z-index: 2;
}
li.hactive {
  border-bottom: 2px solid #f5f5f5;
  list-style: none;
}
.M14_75 {
  font-family: Roboto;
    font-size: 16px;
    color: #424242;
    line-height: 37px;
    font-weight: 600;
}
  
li.shopchoic.spacedown {
  text-transform: uppercase;
}
.B14_42 {
  font-family: Roboto !important;
  font-size: 14px !important;
  color: #424242 !important;
  line-height: 20px;
  font-weight: 600;
}
.M13_75 {
  font-family: Roboto;
  font-size: 13px;
  color: #757575;
  line-height: 18px;
}
.option-container > ul > li {
  padding: 7px 0 0 0;
  list-style: none;
}
span.new {
  font-size: 13px;
  font-family: Roboto;
  color: #e53935;
  background: #fff !important;
}
.options2{
  margin-top: 37px;
}
.options2 >img{
  width: 85%;
}

#nav-btn {
  display: none;
}
li.homesymbol {
  display: none !important;
}
li.homeSymbol {
  display: none !important;
} */
/* Header CSS End   */
#productNo{
    font-weight: 600;
}

/* Footer CSS starts here  */
.footer-rtb {
    margin-top: 50px;
  }
  .footer-rtb {
    background-color: #d9f3f4;
    border-top: 6px solid #fff;
    width: auto;
    height: 155px;
    clear: both;
    padding-bottom: 28px;
  }
  .tic{
    background-color: #fff;
      border-radius: 30px;
      clear: both;
      height: 60px;
      margin: 0 auto;
      position: relative;
      text-align: center;
      top: -31px;
      width: 470px;
      z-index: 3;
      box-shadow: 0 0 3px #e0e0e0;
  }
  .sprite_footer_bg1 {
    background: url(//cdn.fcglcdn.com/brainbees/images/sprite-footer1.1.png);
  }
  .footer_kid_store {
    background-position: -163px -88px;
    display: inline;
    height: 43px;
    margin-top: 9px;
    position: absolute;
    right: 40px;
    width: 383px;
    z-index: 10;
  }
  .rtb-img {
    color: #5d5d5d;
    display: inline-block;
    font-size: 15px;
    height: 100px;
    position: relative;
    text-align: center;
    top: 5px;
    /* width: 210px; */
    cursor: default;
  }
  .footer_products_info1 {
    background-position: -151px 346px !important;
    height: 46px;
    margin-left: 86px;
    text-align: center;
    width: 37px;
  }
  .sprite_footer_bg {
    background: url(//cdn.fcglcdn.com/brainbees/images/sprite-footer1.1.png);
  }
  .footer_products_Brands {
    background-position: -107px 348px;
    height: 46px;
    margin-left: 90px;
    text-align: center;
    width: 37px;
  }
  .rtb-container {
    width: 80%;
    margin: auto;
    line-height: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .footer_products_Customers {
    background-position: -192px 347px;
    height: 44px;
    margin-left: 86px;
    text-align: center;
    width: 37px;
  }
  .footer_products_Return {
    background-position: -229px 347px;
    height: 44px;
    margin-left: 80px;
    text-align: center;
    width: 45px;
  }
  .footer_products_Shipping {
    background-position: -278px 352px;
    height: 43px;
    margin-left: 85px;
    text-align: center;
    width: 40px;
  }
  .fc-footer {
    width: auto;
    background-color: #d9f3f4;
    margin-top: -9px;
    padding-top: 43px;
    position: relative;
  }
  .liquid_header_main{
    width: auto !important;
    /* margin: 0 130px !important; */
  }
  .fctr{
    width: auto !important;
    margin: 0 60px !important;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .fctr {
    height: 505px!important;
  }
  .link {
    width: 165px;
    margin-right: 20px;
    float: left;
  }
  .hdr {
    font-size: 14px;
    border-bottom: 1px solid #bfd4d5;
    margin-bottom: 6px;
    padding: 7px 0 3px;
  }
  .fctr .lcr span {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
  }
  .nhv{
    cursor: default;
  }
  .sitemap{
    margin-bottom: 4px;
    font-size: 12px;
  }
  .flink4 {
    width: 270px;
    margin-right: 10px;
  }
  .frace {
    background-color: #fff;
    box-shadow: 2px 2px 2px 0 #b7cecf;
    float: right;
    width: 370px;
    height: 85px;
  }
  .house_img_footer {
    float: left;
    height: 98px;
    margin-left: 41px;
    margin-top: -22px;
    width: 103px;
  }
  .sprite_footer_bg_fc {
    background: url(//cdn.fcglcdn.com/brainbees/images/sprite-footer1.1.png);
  }
  .frat {
    width: 203px;
    float: right;
  }
  .text {
    font-size: 14px;
    font-family: RobotoMB;
    line-height: 17px;
    margin-bottom: 8px;
    padding-top: 17px;
    cursor: pointer;
  }
  .know-more input {
    width: 77px;
    height: 14px;
    font-size: 10px;
    background-color: #6fc341;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }
  .frace{
    margin-top: 20px;
  }
  #socialicons{
    display: flex;
    justify-content: space-between;
    padding-right: 65px;
    padding-bottom: 3px;
    color: #12284c;
  }
  
  /* Footer Css end here   */

  @media screen and (min-width:0) and (max-width: 900px){
    #nav-btn {
        display: inline-block;
        background-color: white;
        border: 0px;
        margin-top: 6px;
    }
    #navlink {
        display: inline-block;
        position: absolute;
        z-index: 1;
        background-color: white;
        left: -2000px;
        height: max-content;
        width: 196px;
    }
    #nav-icon {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .curser {
        display: none !important;
    }
    li.homesymbol {
        display: block !important;
    }
    .fc_login{
        display: none;
    }
    li.M14_42.mouse {
        margin-left: -28px;
    }
    .menu-container{
        display: none;
    }
    .menu-container > ul > li {
    padding: 7px 39px 10px 10px
    }
    .menu-container {
        background: #fff;
    }
    #homePage {
        background-color: white;
        border: 0px;
        font-size: 21px;
    }
    #nav-close {
        background-color: white;
        border: 0px;
        font-size: 21px;
    }
    #nav-link .homesymbol:hover {
        background-color: rgb(255, 255, 255);
        color: #333;
    }
    .headSearchBox {
        border: 1px solid rgb(238, 238, 238);
        border-radius: 5px;
        background-color: #fff;
        width: 250px;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        display: flex;
        align-items: center;
        padding: 3px;
    }

    .header_logo{
        width: 100px;
    }

    .logo_head{
        padding-left: 20px;
    }

    .fctr{
        display: none;
    }

    footer{
        display: none;
    }
}


/* Product location */
#location{
    margin-left: 30px;
}
#location a{
    color: grey;
    text-decoration: none;
    font-size: 12px;
}
#productName{
    font-weight: 600;
}

/* productDisplay */
#parentDisplay{
    display: flex;
    margin: auto;
    margin-top: 15px;
    
}
#subChild{
    position: sticky;
    top: 10px;
}
#subJunior{
    display: flex;
}
#childDisplay{
    position: relative;
}
#sideImages{
    display: block;
    width: 65px;
    /* border: 1px solid black; */
}
#fullPage{
    display: none;
    z-index: 9999;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.527);
}
#sideImages img{
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 56px;
}
#sideImages img:hover{
    border: 1px solid red;
}
#bigImage{
    /* border: 1px solid black; */
    display: block;
    width: 438px;
    margin-left: 10px ;
    /* margin-left: 70px; */
}
#bigImage button{
    padding: 12px;
    width: 47%;
    margin: 5px;
    /* border: none; */
    border-radius: 5px;
}
#addToCart{
    background-color: #ff7043;
    color: white;
    border: none;
    cursor: pointer;
}
#shortList{
    background-color: white;
    color: grey;
    border: 1px solid rgb(208, 200, 200);
    cursor: pointer;
}

/* productDetails */
#productDetail{
    margin-left: 15px;
    width: 100%;
}
#priceDiv{
    display: flex;
}
#one p{
    font-size: 14px;
}


/* Making product fixed */
/* #productDetail{
    margin-left: 530px;
}
#bigImage{
    margin-left: 70px;
} */
/* #sideImages,#bigImage */
#childOne{
    position: flex;
    top: 10px;
}

/* product Fixed Ends here */



#two1{
    display: flex;
    align-items: center;
}
#two1 h3,h4{
    margin: 5px;
    font-weight: 400;
}
#two p{
    font-size: 14px;
}
#MRP{
    color: rgb(107, 107, 107);
}
#discountText{
    color: rgb(255, 64, 0);
}
#two3{
    display: flex;
    align-items: center;
    width: 300px;
    padding: 5px;
    border: 1px solid rgb(202, 200, 200);
    border-radius: 5px;
}
#two3 img{
    width: 30px;
    height: 30px;
    padding: 10px;
}
#two31 p,h4{
    font-size: 12.5px;
}
#two31 p>span{
    color: green;
}
#two31>h4{
    margin-top: -10px;
    font-size: 14px;
    color: navy;
}
#two3>p{
    display: flex;
    margin-left: 45px;
    color: rgb(255, 64, 0);
}
#scale{
    display: flex;
    color: #2979ff;
    font-size: 13px;
    align-items: center;
    justify-content: flex-end;
}
#scale i{
    font-size: 18px;
    margin-left: 5px;
}
#colorBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
#colorBoxIn{
    width: 18px;
    height: 18px;
    background-color: #e97c4e;
    outline: 2px solid #e97c4e;
    outline-offset: 3px;
    border-radius: 3px;    
}
#two4{
    display: flex;
    margin-top: 10px;
}
#two4>h4{
    font-size: 15px;
    font-weight: 550;
}
#two41{
    display: grid;
    width: 70%;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
#two41>div{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(202, 200, 200);
    color: black;
}
#two41>div:hover{
    cursor: pointer;
}
#two41>.defaultDiv{
    border: 1px solid black;
    color: black;
}
#two41 h4{
    text-align: center;
}
#sizingTip{
    display: flex;
    align-items: center;
}
#bestOffers{
    display: flex;
    align-items: center;
    font-size: 20px;
}
#bestOffers>i{
    color: #ff7043;
}
#codeBoxes{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#codeBoxOne{
    display: flex;
    align-items: center;
    width: 300px;
    font-size: 11px;
    height: 90px;
    text-align: center;
    background-color: #FFFBE8;
    border: 1px solid #F0E377;
    border-radius: 10px;
}
#offerOne{
        transform: rotate(270deg);
        width: 90px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F0E377;
        color: rgb(83, 81, 81);
        margin-left: -35px;
        padding: 2px;
        border-radius: 10px 10px 0px 0px;
        z-index: 0;
}
#codeBoxInsideOne{
    background-color: #FFFBE8;
}
#offerCodeOne{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #024581;
    align-items: center;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    font-size: 10px;
    height: 25px;
    width: 170px;
}
#howMuchDis{
    color: black;
}
#howMuchDis h3{
    margin: 5px;
}
#imageOffer{
    display: flex;
    align-items: center;
}
#imageOffer img{
    width: 30px;
    height: 30px;
}
#howMuchDis hr{
    color: rgb(239, 108, 178);
}
#codeBoxTwo{
    display: flex;
    align-items: center;
    width: 300px;
    font-size: 11px;
    height: 90px;
    background-color: #FAECF6;
    border: 1px solid #F6BDE3;
    border-radius: 10px;
}
#offer{
        transform: rotate(270deg);
        width: 90px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F6BDE3;
        color: rgb(83, 81, 81);
        margin-left: -35px;
        padding: 2px;
        border-radius: 10px 10px 0px 0px;
        z-index: 0;
}
#codeBoxInside{
    background-color: #FAECF6;
    text-align: center;
}
#offerCode{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #024581;
    align-items: center;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    font-size: 10px;
    height: 25px;
    width: 170px;
}

#benefits{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
}
#pincode{
    padding: 5px;
}
#pincode::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
#pincodeCheckerBefore{
    margin-bottom: 20px;
}
#pincodeCheckerAfter,#pincodeCheckerBefore{
    width: 70%;
}
#truck,#pincodeCheckerAfter,#cod,#returnPolicy,#pincodeCheckerBefore,#rightSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#rightPincodeBox i,#rightSide i{
    color: #ff7043;
    padding: 10px;
}
#cod{
    margin-top: 5px;
}
#returnPolicy{
    margin-top: -10px;
}
#pincodeCheckerAfter{
    display: none;
}
#afterPincode a{
    color: #2979ff;
    text-underline-offset: 5px;
}
#sizeFit{
    width: 50%;
}
#ageDiv,#weightDiv{
    display: flex;
    justify-content: space-between;
}
#youMayLike{
    margin-bottom: 15px;
}
.arrow span{
    font-size: 50px;
    font-weight: 100;
    cursor: pointer;
}
#parentYMAL{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: auto;
}
#ymalItems{
    display: flex;
    /* grid-template-columns: repeat(5,1fr); */
    gap: 10px;
    /* width: 80%; */
    padding: 10px;
    overflow: hidden;
}
#ymalItems>div{
    margin: auto;
    cursor: pointer;
    width: 250px;
    /* transition-duration: 0.3s;
    overflow: hidden;
    transform: translateX(50%); */
}

#ymalItems>div>div{
    width: 250px;
}
#ymalItems img{
    display: flex;
    margin: auto;
    width: 90%;
    /* width: 180px; */
}
#ymlPrices{
    margin-top: -15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#ymlPrices p{
    font-weight: 600;
}
#discount,#offPrice{
    color: #ff7043;
}
#feedbackDiv{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#feedbackDiv i{
    font-size: 30px;
    padding: 10px;
}

#feebackText h3{
    margin-top: -5px;
}
#feebackText h4{
    margin-top: -15px;
    margin-left: 0px;
}
#feedbackInput input{
    padding: 10px;
    width: 40%;
    border: 1px solid rgb(209, 209, 209);
}
#feedbackInput button{
    padding: 10px;
    margin-left: 5px;
    background-color: #2979ff;
    color: white;
    border: 1px solid #2979ff;
    border-radius: 3px;
}

/* confidence */
#confidence{
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
#confidence>div{
    display: flex;
    align-items: center;
}
#confidence>div>img{
    height: 32px;
    width: 32px;
    margin-right: 10px;
}



/* resposiveness */
@media screen and  (max-width: 900px){
    #parentDisplay{
        display: block;
    }
    #ymalItems{
        grid-template-columns: repeat(3,1fr);
    }
    #sideImages{
        display: none;
    }
    #bigImage img{
        width: 100%;
    }
    #codeBoxes{
        display: block;
    }
    #codeBoxes>div{
        margin: 15px;
    }
    #benefits{
        grid-template-columns: repeat(3,1fr);
        align-items: center;
    }
    #confidence{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    #two41{
        grid-template-columns: repeat(3,1fr);
    }
    /* #parentSearchBox{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
    }
    #searchBarDiv{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        align-items: center;
        background-color: white;
    }
    #searchBarDiv>input{
        padding: 3px;
        margin-right: 10px;
    }
    #searchBarDiv>i{
        color: black;
        justify-content: flex-end;
    }
    #search_box{
        display: none;
    }
    .headSearchBox{
        border: none;
        justify-content: flex-end;
    }
    #SearchResults{
        width: 100%;
        height: 500px;
        background-color: white;
    } */
    
}