@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    margin: 0;
}

/* CONTAINER  */
#container{
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    gap: 20px;
    padding: 20px;
}

/* LEFT PART  */
#leftPart{
    font-family: 'Roboto', sans-serif;
}

#leftPart > div:nth-child(1) > div p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #424242;
    line-height: 18px;
}

#leftPart > div:nth-child(1) > div p > span:first-child{
    color: #2979ff;
}

#leftPart > div:nth-child(1) > div p > span:last-child{
    font-size: 16px;
    line-height: 16px;
}

#leftPart > div:nth-child(1) > div p + span{
    font-size: 14px;
    color: #757270;
}

#imgDiv > div > p{
    margin: 0;
}

#imgDiv > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    padding: 10px 14px;
}

#imgDiv img{
    width: 100%;
}

#imgDiv > p{
    margin-top: 0;
}

/* SORT DIV */
.sortDiv{
    border-bottom: 1px solid rgba(0, 0, 0, 0.118);
    padding-bottom: 20px;
}

.sortDiv > div{
    display: flex;
    align-items: center;
}

.sortDiv input{
    margin-right: 10px;
    accent-color: #fff;
}

.sortDiv p{
    margin: 5px;    
    font-size: 14px;
    color: rgba(0, 0, 0, 0.835);
}

.sortDiv > p{
    font-size: 14px;
    margin: 20px 0 10px 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.835);
}

/* COLOR DIV  */
#blue{
    width: 13px;
    height: 13px;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.476);
}

#white{
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.476);
}

#red{
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.476);
}

#yellow{
    width: 13px;
    height: 13px;
    background-color: #ffd200;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.476);
}

#green{
    width: 13px;
    height: 13px;
    background-color: green;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.476);
}

/* RIGHT PART  */
#rightPart{
    font-family: 'Roboto', sans-serif;
}

#sort{
    padding: 6px 30px 6px 6px;
    font-size: 12px;
}

option{
    height: 20px;
    margin: 10px;
    line-height: 20px;
    padding:20px;
  }

#titleDiv > div{
    display: flex;
    line-height: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

#titleDiv > div p{
    font-size: 19px;
    color: #424242;
    font-weight: 500;
    margin: 0;
}

#titleDiv > div + p{
    font-size: 15px;
    color: #616161;
    margin: 0;
}

#titleDiv{
    border-bottom: 1px solid #4242422b;
    padding-bottom: 20px;
    margin-left: 14px;
}

/* PRODUCTS DIV  */
#productDiv{
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    font-family: 'Roboto', sans-serif;
}

.products{
    padding: 15px;
    border-radius: 5px;
    transition: 0.6s ease;
    cursor: pointer;
}

.products:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.products:hover .cartDiv{
    visibility: visible;
}

.products > div:first-child > img{
    width: 100%;
}

.products p+div{
    display: flex;
    align-items: center;
}

.products > p{
    margin: 7px 0 0 0;
}

.products  p{
    font-size: 13px;
}

.products > p:last-child{
    margin: 0;
}

.priceDiv{
    display: flex;
    align-items: center;
}

.priceDiv > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceDiv img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.strikePriceDiv{
    display: flex; 
    margin-top: 7px;
}

.strikePriceDiv p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.737);
}

.strikePriceDiv p+span{
    font-size: 13px;
    text-decoration: line-through;
    margin: 0 10px;
    color: gray;
}

.strikePriceDiv span:last-child{
    font-size: 13px;
    color: rgba(255, 0, 0, 0.771);
}

.cartDiv{
    visibility: hidden;
    margin-top: 7px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.073);
    transition: 0.1s ease;
}
.cartDiv button{
    padding: 9px;
    width: 100px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    margin-right: 4px;
    cursor: pointer;
}

.cartDiv button:first-child{
    background-color: rgb(255, 128, 0);
    color: #fff;
}

.cartDiv button:first-child:hover{
    background-color: rgba(255, 128, 0, 0.82);
}

.cartDiv button:last-child{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.333);
}

